@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="content-container">
    <div class="" id="search-container">
        <div class="mb-2 card">
            <div class="card-body">
                <form id="search-posts-form">
                    <div class="mb-3">
                        <label for="" class="form-label">Search</label>
                        <input type="text" name="search" id="search" class="form-control" placeholder="Search posts" />
                    </div>
                    <button class="btn btn-primary" id="search-posts-button" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
    <div id="loadingIndicator" style="display:none;">Loading...</div>
    <div id="posts-container">

    </div>
</div>
