@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to task manager</h1>
    <p>Create your own tasks <a class="nav-link text-dark" asp-area="" asp-controller="AjaxTest" asp-action="Index">Here</a>.</p>
</div>
